{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>404</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'store/css/404.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "store/css/404.css" %}">
</head>
<body>
  <div class="stars"></div>
  <div class="planet"></div>
  <div class="rocket">
    <img src="{% static 'store/images/cart.png' %}" alt="Ракета">
  </div>
  <div class="content">
    <h1 class="glitch" data-text="404">404</h1>
    <p class="subtitle">Похоже, Вы свернули не туда...</p>
    <a href="/" class="btn">→ Назад в магазин</a>
  </div>
</body>
</html>
