{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>"Столичный" - продуктовый магазин</title>
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <link rel="stylesheet" href="{% static "store/css/product_card.css" %}">
    <link rel="stylesheet" href="{% static "store/css/navbar1.css" %}">
    <link rel="stylesheet" href="{% static "store/css/catalog1.css" %}">
    <link rel="stylesheet" href="{% static "store/css/categories.css" %}">
    <link rel="stylesheet" href="{% static "store/css/style.css" %}">
    <link rel="stylesheet" href="{% static "store/css/promo2.css" %}">
    <link rel="stylesheet" href="{% static "store/css/checkout.css" %}">
    <link rel="stylesheet" href="{% static 'store/css/cart1.css' %}">
    <link rel="icon" href="{% static 'store/images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'store/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% include "store/navbar.html" %}
    <form id="csrf-form" style="display:none;">
        {% csrf_token %}
      </form>      
    <main>

        <div class="notification-container">
                        {% for message in messages %}
                        <div class="notification notification-{{ message.tags }}">
                            <span class="notification-icon">
                                {% if message.tags == 'success' %}✓
                                {% elif message.tags == 'error' %}✕
                                {% elif message.tags == 'warning' %}⚠
                                {% else %}i{% endif %}
                            </span>
                            <div class="notification-content">
                                <div class="notification-title">
                                    {% if message.tags == 'success' %}
                                    {% elif message.tags == 'error' %}Ошибка
                                    {% elif message.tags == 'warning' %}
                                    {% else %}{% endif %}
                                </div>
                                <div class="notification-message">{{ message }}</div>
                            </div>
                            <span class="notification-close">×</span>
                        </div>
            {% endfor %}
        </div>

        {% block content %}{% endblock %}
        {% block scripts %} {% endblock %}
        {% block extra_head %} {% endblock %} 

<script src="{% static 'store/js/base.js' %}" defer></script>

</body>
</html>